body{
background-color: #fff;
color: #8f8f8f;
}
header{
  margin: 0;
  border: 1px solid black ;
}
.row{
  margin: 0;
}
.stickyNav{
  width: 100%;
  text-align: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.93);
  /* position: fixed;
  top: 0px; */

}
.logo {

  font-size: 45px;
  color: #8f8f8f;
  text-transform: uppercase;
  grid-column: 1/2;
  grid-row: 1/2;
  display: block;

  line-height: 1;
  margin-bottom: 10px;

}
nav{
  justify-content: center;
  text-align: center;

}
 nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;


}

nav li a {
  display: block;

  padding: 8px 16px;
  text-decoration: none;
  color: #8f8f8f;

}

 nav li {
  text-align: center;

}



 nav li a:active {
   background-color: grey;
   color:rgba(0, 0, 0, 0.93);
}
nav li a:visited {
  color: #8f8f8f;
  background-color: rgba(0, 0, 0, 0.93);

}

 nav li a:hover:not(:active) {

background-color: white;
color:rgba(0, 0, 0, 0.93);
}
.hero{
  display: none;
}

.icon-circle-up{
  right: 5px;
  top: 1;
  position: fixed;
  z-index: 3000;
  text-decoration: none;
  color: black;
  display: block;
}
#modal-wrapper{
  display: none;
}
.signUp{
  background-color: rgba(0, 0, 0, 0.93);
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    font-family: 'Roboto';
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    user-select: none;
    transition:800ms ease all;
    outline:none;
    padding-top: 2%;
}
.
.signUp:hover{
  background-color: rgba(255, 255, 255, 0.93);
  color: black;

}
.signUp:hover{
  background-color: rgba(255, 255, 255, 0.93);
  color: black;
  cursor: pointer;
}
/* https://codepen.io/onediv/pen/jEmjap */
.signUp:before,.signUp:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background:black;
  transition:400ms ease all;
}
.signUp:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.signUp:hover:before,.signUp:hover:after{
  width:100%;
  transition:800ms ease all;
}
@media only screen and (min-width: 800px) {

  .stickyNav {
    position: fixed;
    top: 0px;
    max-height: 70px;
    z-index: 999;
    width: 100%;
    padding-top: 17px;
    background: none;
    overflow: hidden;
    transition: all 0.3s;
    opacity: 0;
    top: -100px;
    padding-bottom: 6px;
    font-family: "Montserrat", sans-serif;

  }


  .open-nav {
    max-height: 400px ;
  }


  .sticky {
    background-color: rgba(0, 0, 0, 0.93);
    opacity: 1;
    top: 0px;
    border-bottom: 1px solid gainsboro;
  }

  .logo {
    width: 50px;
    font-size: 25px;
    color: #8f8f8f;
    text-transform: uppercase;
    grid-column: 1/2;
  	grid-row: 1/2;
    display: block;
    margin-top: 0;
    line-height: 1;
    margin-bottom: 10px;
    padding-left: 10px;
  }
  nav {
  	grid-column: 4/5;
  	grid-row: 1/2;
    padding-left: 0px;
    width: 100%;
    justify-content: center;
  }
  nav ul {
    list-style: none;
    /* overflow: hidden; */
    text-align: center;
  	display: grid;
  	grid-template-columns: repeat(4,1fr);
    padding-left: 0px;
    background-color: rgba(0, 0, 0, 0.93);
  }
  nav ul li {
    display: inline-block;
    margin-left: 15px;
    line-height: 2;
    color: #8f8f8f;
    background-color: rgba(0, 0, 0, 0.93);
  }

  nav ul a {
    color: #888888;
    text-transform: uppercase;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.93);
  }
  .row {
    width: 100%;
    /* max-width: 940px; */
    margin: 0 0;
    position: relative;
    padding: 0 0;
  	display: grid;
  	grid-template-columns: 100px 150px 200px 1fr;
  	grid-template-rows: 1fr;
  }

  * {
    box-sizing: border-box;
  }

  body {
    color: #8f8f8f;
    background: white;
    font-family: "Cardo", serif;
    font-weight: 300;
    margin:0px;

  }

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 30px;
    line-height: 1.8;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
  }

  p {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 2;
  }

  .content {

    margin:2px;
  }

  .hero {
    display:block;
    position: relative;
    background: url("bgImage.jpg") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-top: 110px;
    min-height: 500px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
  	background-size: 100% 100vh;
  }
  .hero h1 {
    font-size: 25px;
    line-height: 1.3;
  }
  .hero h1 span {
    font-size: 15px;
    color: #e8f380;
    border-bottom: 2px solid #e8f380;
    padding-bottom: 12px;
    line-height: 3;
  }
  .icon-circle-up{
    display: none;
  }

  #form1{
    margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
  }

  @keyframes scroll {
    0% {
      opacity: 1;

      transform: translateY(0);
    }

    100% {
      opacity: 0;

      transform: translateY(20px);
    }

}
/* Pop UP Login */
input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	font-size:16px;
}
input[type=checkbox]{
	padding: 12px 20px;
	margin: 8px 26px;
}
#modal-wrapper a{
	padding: 12px 20px;
	margin: 8px 2px;
}


/* Set a style for all buttons */
button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    border: none;
    cursor: pointer;
    width: 90%;
	font-size:20px;
}
button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.avatar {
    width: 200px;
	height:200px;
    border-radius: 50%;
}

/* The Modal (background) */
.modal {
		display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%;
		padding-bottom: 30px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}



}
